

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Drywall - Curso</title>
    
    <link rel="icon" href="src/pix/logo.svg" type="svg+xml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../Assets/css/globals.css">
    <script src="../Assets/Scripts/Globals.js" defer></script>
    <script src="../Assets/Scripts/Sidebar.js" defer></script>
</head>
<body>
    <app-bar></app-bar>
    <side-bar>
        <home>
            <header></header>
            <dummy>
                <icon>
                    <icon-img class="material-icons">cloud</icon-img>
                    <icon-name>Drywall</icon-name>
                </icon>
            </dummy>
            <footer></footer>
        </home>
    </side-bar>
    <home>
        <t1>Drywall - 4 Passos para executar o trabalho</t1>
        <t2>
            <ol>
                <li>Instalação das guias inferior e superior</li>
                <li>Instalação dos montantes</li>
                <li>Instalação das chapas drywall</li>
                <li>Tratamento das juntas ( fita e massa )</li>
            </ol>
        </t2>
    </home>
    
    <script>
    </script>
</body>
</html>