

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Drywall - Curso</title>
    
    <link rel="icon" href="src/pix/logo.svg" type="svg+xml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../Assets/css/imports.css">
    <script src="../Assets/Scripts/Globals.js" defer></script>
    <script src="../Assets/Scripts/Sidebar.js" defer></script>
</head>
<body>
    <app-bar></app-bar>
    <side-bar>
        <home>
            <header></header>
            <dummy>
                <icon>
                    <icon-img class="material-icons">cloud</icon-img>
                    <icon-name>Drywall</icon-name>
                </icon>
            </dummy>
            <footer></footer>
        </home>
    </side-bar>
    <home>
        <t1>Drywall - 4 Passos para executar o trabalho</t1>
        <t2>
            <ol>
                <li>
                    Instalação das guias inferior e superior
                    <ol>
                        <li>riscar o chão na posição da guia ( levando em conta a espessura da placa&lt;1cm p/ trás&gt; )</li>
                        <li>
                            transferir para o teto essa medida com o nível a laser
                            <ul>
                                <li>com o nível de bolha, tirar a medida nas duas faces:</li>
                                <li>frente e lado</li>
                            </ul>
                        </li>
                        <li>
                            Fixação da guia de baixo
                            <ul>
                                <li>1 parafuso em cada ponta</li>
                                <li>1 parafuso à cada 1 metro</li>
                                <li>banda acústica sempre atrás da guia (entre o chão e a guia)</li>
                                <li></li>
                                <li></li>
                            </ul>
                        </li>
                        <li></li>
                        <li></li>
                    </ol>
                </li>
                <li>Instalação dos montantes</li>
                <li>Instalação das chapas drywall</li>
                <li>Tratamento das juntas ( fita e massa )</li>
            </ol>
        </t2>
        <tipos-de-montantes>
            <t2>Tipos de guias e montantes</t2>
            <ol>
                <li>48mm: paredes e mobiliário</li>
                <li>70mm: paredes com portas</li>
                <li>90mm: parede de pé direito alto</li>
            </ol>
        </tipos-de-montantes>
    </home>
    
    <script>
    </script>
</body>
</html>