

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>App Template</title>
    
    <link rel="icon" href="src/pix/logo.svg" type="svg+xml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../Assets/css/globals.css">
    <script src="../Assets/Scripts/Globals.js" defer></script>
    <script src="../Assets/Scripts/Sidebar.js" defer></script>
</head>
<body>
    <app-bar></app-bar>
    <side-bar></side-bar>
    <home>
    </home>
    
    <script>
    </script>
</body>
</html>