

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Drywall - Curso</title>
    
    <link rel="icon" href="src/pix/logo.svg" type="svg+xml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../Assets/css/globals.css">
    <script src="../Assets/Scripts/Globals.js" defer></script>
    <script src="../Assets/Scripts/Sidebar.js" defer></script>
</head>
<body>
    <app-bar></app-bar>
    <side-bar></side-bar>
    <home>
        <t1>Drywall - 4 Passos para executar o trabalho</t1>
        <t2>
            <ol>
                <li link="https://www.youtube.com/results?search_query=drywall">Youtube Drywall</li>
                <li link="https://www.youtube.com/watch?v=1j1ZJcVxbIk">Gypsum - Como montar uma Parede drywall simples</li>
                <li link="https://www.youtube.com/watch?v=g3rCBMUipsI">FORRO DRYWALL ESTRUTURA CURSO E AULA COMPLETO PASSO A PASSO</li>
                <li link="https://www.youtube.com/@lucasindrywall/playlists">lucasinfilm playlists</li>
                <li link="https://www.youtube.com/watch?v=qcqrOqLbmLo">FORRO DRYWALL STUD E TABELA DE VÃO LIVRE DOS MONTANTES Como Fazer</li>
                <li link="https://www.youtube.com/watch?v=nk7S_WwbaBs&list=PLR4y5o7CVsiCK0DMlNh_SEIrq8t0h9l-d&index=3">CURSO DE GESSO ACARTONADO D</li>
                <li link="https://www.youtube.com/watch?v=0n-9SWkNqug&list=PLoULpAtHHrAMonlnFHpLWaWW6Mgoqev47&index=2">[Dica Drywall] Acabamento de Juntas</li>
                <li link=""></li>
                <li link=""></li>
                <li link=""></li>
                <li link=""></li>
                <li link=""></li>
            </ol>
        </t2>
    </home>
    
    <script>
    </script>
</body>
</html>