

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Drywall - Curso</title>
    
    <link rel="icon" href="src/pix/logo.svg" type="svg+xml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../Assets/css/imports.css">
    <script src="../Assets/Scripts/Globals.js" defer></script>
    <script src="../Assets/Scripts/Sidebar.js" defer></script>
</head>
<body>
    <app-bar></app-bar>
    <side-bar>
        <home>
            <header></header>
            <dummy>
                <icon>
                    <icon-img class="material-icons">cloud</icon-img>
                    <icon-name>Drywall</icon-name>
                </icon>
            </dummy>
            <footer></footer>
        </home>
    </side-bar>
    <home>
        <t1>Calculadora</t1>
        <form>
            <label>
                <input type="number" name="pedireito" placeholder="pé direito" />
            </label>
        
            <label>
                <input type="number" name="comprimento" placeholder="comprimento" />
            </label>
        </form>
  
    </home>
    
    <script>


const _ = v => console.log( v );

const Area = {
    st: ( 1.80 * 1.20 ),
    ru: ( 1.80 * 1.20 ),
    rf: ( 1.80 * 1.20 ),
};

const calc = {
    chapas: ( placa, peDireito, comprimento, umOuDoisLados ) => {
        const area = {
            parede: peDireito * comprimento * umOuDoisLados,
            placa: ( 1.80 * 1.20 ),
        };

        return( area.parede / area.placa ) * 1.05;


        // switch( placa ) {
        //     case "st": {
        //         st 
        //     };
        //     break;
        //     case "ru": ;
        //     break;
        //     case "rf": ;
        //     break;
        // }
    },
    guias: ( comprimento ) => {
        const metroLinear = comprimento * 2;

        let quantidadeDeGuias = 0;

        return quantidadeDeGuias = Math.ceil( metroLinear / 3 );
    },
    montantes: ( comprimento, espaçamentoDosMontantes ) => {
        let quantidadeDeMontantes = ( comprimento / espaçamentoDosMontantes ) + 2;

        return( quantidadeDeMontantes );
    },
    // wall: (  ) => {},
};


// _( `área: ${ calc.chapas( "st", 2, 2, 2 ) }m2` );
// _( `área: ${ calc.chapas( "st", 2.70, 5, 2 ) }m2` );

// _( `guias: ${ calc.guias( 2 ) } un.` );
_( `guias: ${ calc.guias( 5 ) } un.` );

// _( `montantes: ${ calc.montantes( 2, .6 ) } un.` );
// _( `montantes: ${ calc.montantes( 5, .6 ) } un.` );



    </script>
</body>
</html>